body {
	display: flex;
	flex-direction: column;
	background-color: #DCDCDC;
	justify-content: space-between;
	align-items: center;
}

.menu-principal {
	width: 100%;
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	background-color: #87CEEB;
	justify-content: space-between;
	padding: 0px 150px;
}

.redes-sociais {
	display: flex;
	flex-direction: row;
	align-self: center;
	justify-content: space-between;
	gap: 5px;
}

body>img {
	width: 15%;
}