html {
	font-family: arial;
}

h1{
	color:purple;
	background-color: grey;
	font-weight: 800;
	text-align: center;
}

h2{
	color: blue;
	font-weight: 700;
}

.ingredientes, .preparacao{
	color: purple;
	font-weight: 600;
}
